:root {
  --color-light-grey: #f5f4f4;
  /* --color-light-green: hsl(145, 45%, 60%);
  --color-light-red: hsl(5, 45%, 60%);
  --color-light-violet: hsl(290, 45%, 60%); */
  --color-light-red: hsl(25, 50%, 50%);
  --color-light-green: hsl(100, 50%, 50%);
  --color-light-violet: hsl(50, 50%, 50%);
  --color-grey: hsl(0, 0%, 50%);
  --color-dark-grey: #2f363a;
}

.bolden {
  font-weight: bold;
}

header {
  background-color: var(--color-dark-grey);
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  color: white;
  padding: 0 50px;
  top:0;
  left: 0;
  position: sticky;
}

