.schedule-page .calendar {
  margin-left: 30px;
  margin-top: 10px;
  display: block;
}

.schedule-page .calendar .calendar-text {
  align-self: center;
}

.schedule-page .calendar .bttn-group {
  margin-top: 5px;
  align-items: center;
}

.schedule-page .calendar .bttn-group .google-bttn {
  margin-left: 10px;
}

.schedule-page .calendar .bttn-group .apple-bttn {
  margin-left: 10px;
}

.schedule-page .calendar .bttn-group {
  margin-left: 20px;
}
