.slot-box {
  /* height: 120px; */
  margin: 10px;
  border-radius: 5px;
  padding: 15px;
}

.slot-box .date-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.slot-box a {
  text-decoration: underline;
  font-weight: bold;
}

.ASSIGNED {
  background-color: white;
}

.CLAIMED {
  background-color: var(--color-light-green);
}

.MISSED {
  background-color: var(--color-light-red);
}

.UNAVAILABLE {
  background-color: var(--color-grey);
}

.READY_TO_CLAIM {
  background-color: var(--color-light-violet);
}
