.slot-box {
  min-width: 100px;
  min-height: 100px;
  width: 25%;
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
}

.slot-box .date-time {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.assigned {
  background-color: white;
} 

.claimed {
  background-color: var(--color-light-green);
} 

.missed {
  background-color: var(--color-light-red);
}

.unavailable {
  background-color: var(--color-grey);
}

.confirmed {
  background-color: var(--color-light-violet);
}