.ta-page .schedule {
  background-color: var(--color-light-grey);
}

.ta-page .calendar {
  margin-left: 30px;
  margin-top: 20px;
  display: block;
  margin-bottom: 30px;
}

.ta-page .calendar .calendar-text {
  text-align: center;
  font-size: large;
  /* font-variant: small-caps; */
  margin-top: 20px;
  margin-bottom: 20px;
}

.ta-page .calendar .bttn-group {
  margin-top: 5px;
  text-align: center;
}

.ta-page .calendar .bttn-group button {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

.ta-page .calendar .bttn-group .google-bttn {
  margin-left: 20px;
}

.ta-page .calendar .bttn-group .apple-bttn {
  margin-left: 20px;
}

.ta-page .calendar .bttn-group {
  margin-left: 20px;
}

.ta-page .schedule {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  scroll-behavior: smooth;
}

.ta-page .schedule .session {
  width: 28%;
  min-width: 330px;
  margin: 10px 0;
}

.ta-page .schedule #next-session {
  border-color: orange;
  border-width: 3.5px;
  border-style: solid;
  border-radius: 5px;
}

.ta-page .schedule #next-session .hook {
  position: relative;
  top: -60px;
}
