.ta-page header {
  background-color: var(--color-dark-grey);
  height: 50px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  color: white;
  padding: 0 50px;
  top:0;
  left: 0;
  position: sticky;
}

.ta-page .schedule {
  background-color: var(--color-light-grey);

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  scroll-behavior: smooth;
}

.ta-page .schedule .session {
  width: 28%;
  min-width: 330px;
  margin: 10px 0;
}

.ta-page .schedule #next-session {
  border-color: orange;
  border-width: 3.5px;
  border-style: solid;
  border-radius: 5px;
}