build:
  stage: build
  artifacts:
    paths:
      - src
  script:
    - cd src/client && npm install
    - cd ../server && npm install
    - cd ../client && npm run build
  
test:
  stage: test
  script:
    - echo "Nothing to test..."

deploy:
  stage: deploy
  script:
    - apt update && apt install -y ruby git curl
    - gem install --user-install dpl-heroku
    - if which ruby > /dev/null && which gem > /dev/null; then PATH="$(ruby -r rubygems -e 'puts Gem.user_dir')/bin:$PATH"; fi
    - dpl --provider=heroku --app=ta-management-app --key=$heroku_api_key
